#canvas{
    width: 600px;
    height: 600px;
    
}

.canvasContainer{
    width: fit-content;
    margin: auto;
    justify-content: center;

}
.container{
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 10vh;
    border-bottom: 12px solid;
}

.controls{
    display: flex;
    margin: auto;
    padding: 24px;
    justify-content: center;
}

select, option, label{
    font-size: 32px;
    font-family: sans-serif;
}

option{
    padding: 12px;
    width: 15%;
    text-align: center;
}

select{
   width: 10%;
}
