#canvas{
    width: 600px;
    height: 600px;

}
.container{
    display: block;
    justify-content: center;
    width: fit-content;
    margin: auto;
    border: 2px solid;

}

.controls{
    display: flex;
    margin: auto;
    padding: 24px;
    justify-content: center;
}

select, option, label{
    font-size: 24px;
    font-family: sans-serif;
}
